		<div class="col-sm-6 col-md-4">
            {% for zoom in unZoom %}
            
			<h3><span class="bold">ZOOM</span> SUR.</h3><i>{{ zoom.title }}</i>
			<div class="zoom">
			<p>{{ zoom.content }}</p>
			</div>
            
            
            <p>
    <a href="{{ path('al_alinerie_editaside', {'aside_id': zoom.id}) }}" class="btn btn-default">
      <i class="fa fa-pencil fa-1x"></i>
      Modifier l'encart
                </a></p>
            {% endfor %}
            
            
		</div>