		<div class="col-sm-6 col-md-4">
            {% for zoom in unZoom %}
            
			<h3><span class="bold">ZOOM</span> SUR.</h3><i>{{ zoom.title }}</i>
			<div class="zoom">
			<p>{{ zoom.content }}</p>
			</div>
            
            {% endfor %}
		</div>